.box-pink{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 2px solid black;
    background-color: #ff95a6;
}
.price-kids{
    text-align: left;
    color: black;
}
.box-orange{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 2px solid black;
    background-color: #fb6d15;
}
.box-green{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 2px solid black;
    background-color: #a7fba7;
}